* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.homeimg {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background-color: chocolate;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: chocolate;
    padding: 16px 0;
}

header h1 {
    color: whitesmoke;
    font-size: 60px;
    font-style: normal;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 150px;
}

nav {
    background-color: rgb(230, 154, 42);
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: red;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

section {
    display: flex;
    padding: 10px;
    height: 350px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}
.VideoCronologia{
    padding: 15%;
    
}
main q{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}
/* Inicio Home */
main {
    background-color: coral;
}

main h2 {
    color: blue;
    padding: 6px 10px;
    ;
}

main p {
    color:#ccc;
    font-style: italic;
    text-align: justify;
    padding: 5px 8px;
}

/* Fin Home */
/* Inicio Peliculas */
#peliculas{
    background-color:green;

}
h3{
    color: rgb(237, 247, 239);
    text-align: justify;
}
hr{
    border: 1px solid red;
    width: 50%;
    margin-bottom: 40px;
}
.box-container-1{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    padding: 40px;
}

/* Fin Peliculas */